{% extends 'base.html' %}
{% load static %}

{% block menubar %}
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-light">
    <a class="navbar-brand" href="{% url 'main-screen' %}">
        <img class="d-inline-block align-top" src="{% static 'img/logo-solid.svg' %}" width="30" height="30" alt="Site logo" loading="lazy">
        {{ site.name }}
    </a>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="appNavbarDefault">
        <ul class="navbar-nav mr-auto">
            {% block menubar-menuitems %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'main-screen' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            {% endblock menubar-menuitems %}
        </ul>
    {% block menubar-search %}
            <form class="form-inline" {# action= url 'search-results' #}>
                <div class="input-group">
                    <input class="form-control" name="q" type="text" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-info" type="submit">
                            <svg class="bi p-0 m-0" width="21" height="21" fill="currentColor">
                                <use xlink:href="{% static 'web_modules/bootstrap-icons/bootstrap-icons.svg' %}#search"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </form>
    {% endblock menubar-search %}
        {% if user.is_authenticated %}
            {# hacky hack - probably a better CSS way to do this but haven't figured it out yet #}
            <ul class="account-flat-menu navbar-nav">
                <li class="account-flat-menu nav-item">
                    <hr />
                    <h6 class="py-1">
                        <svg class="bi" width="32" height="32" fill="currentColor">
                            <use xlink:href="{% static 'web_modules/bootstrap-icons/bootstrap-icons.svg' %}#person"/>
                        </svg> {{ user.email }}
                    </h6>
                </li>
                <li class="account-flat-menu nav-item">
                    <a class="nav-link" href="{% url 'account_settings' %}">Account Settings</a>
                </li>
                <li class="account-flat-menu nav-item">
                    <form method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}{% if redirect_field_value %}<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">{% endif %}
                        <button class="btn btn-link nav-link" type="submit">Log out</button>
                    </form>
                </li>
            </ul>
            <div id="accountDropdownMenuItem" class="nav-item dropdown" data-toggle="tooltip" title="Account settings for {{ user.email }}">
                <a class="nav-link dropdown-toggle" href="#" id="account-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <img class="d-inline-block align-top" width="30" height="30"
                         {% if user.avatar_url %}alt="avatar of {{ user.email }}" src="{{ user.avatar_url }}"{% else %}alt="generic avatar icon" src="{% static 'img/generic_avatar.svg' %}"{% endif %}>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="account-dropdown">
                    <h6 class="dropdown-header bg-light py-3">Logged in as: {{ user.email }}</h6>
                    <a class="dropdown-item" href="{% url 'account_settings' %}">Account Settings</a>
                    <div class="dropdown-divider"></div>
                    <form method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}{% if redirect_field_value %}<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">{% endif %}
                        <button class="btn btn-link dropdown-item" type="submit">Log out</button>
                    </form>
                </div>
            </div>
        {% else %}
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">Sign In</a></li>
            </ul>
        {% endif %}
    </div>
</nav>
{% endblock menubar %}
{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Hello, world!</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->

{% endblock content %}

{% block footer %}
    <footer class="container">
        <p>&copy; Lucid Horizons 2020-2021</p>
    </footer>
{% endblock footer %}