{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="My WiFi Tribe Web Application">
    <meta name="author" content="Dan Sloan">
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock extra_head %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/base_project.css' %}">
    {% block css_head %}
    {% endblock css_head %}
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>
<body {% block body_class %}{% endblock %}>
{% block body %}
    {% block menubar %}
    {% endblock menubar %}

    <main role="main">
        {% block messages %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% elif message.level == DEFAULT_MESSAGE_LEVELS.DEBUG %}dark{% elif not message.level %}light{% else %}{{ message.level_tag }}{% endif %} alert alert-contrast alert-dismissible fade show {{ message.extra_tags }}" role="alert">
                        {{ message.message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endblock messages %}

    {% block content %}
    {% endblock content %}
    </main>

{% block footer %}
{% endblock footer %}
{% endblock body %}
{% block extra_body %}
{% endblock %}
<script type="module" src="{% static 'js/base_project.js' %}"></script>
{% block extra_js %}
{% endblock extra_js %}
</body>
</html>
