{% extends "base_splash.html" %}
{% load static account socialaccount crispy_forms_tags %}

{% block head_title %}Sign in to {{ site.name }}{% endblock %}

{% block body_class %}class="splash"{% endblock body_class %}
{% block content %}
    {% get_providers as socialaccount_providers %}

    <div class="form-signin">
        <div class="text-center mb-4">
            <img class="mb-4" src="{% static 'img/logo-solid.svg' %}" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        </div>
        <div class="text-center mb-4">
            {# Social sign in first - we want people to preference that #}
            {% if socialaccount_providers %}
                {% for provider in socialaccount_providers %}
                    {% if provider.id == "openid" %}
                        {% for brand in provider.get_brands %}
                            <a class="btn btn-lg btn-block openid_provider {{ provider.id }} {{ brand.id }}"
                               title="{{ brand.name }}"
                               href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
                            >Sign in with {{ brand.name }}</a>
                        {% endfor %}
                        {# FIXME: shouldn't this be else instead of endif? v #}
                    {% endif %}
                        <a title="{{provider.name}}" class="btn btn-lg btn-block socialaccount_provider {{provider.id}}"
                           href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
                            Sign in with {{provider.name}}
                        </a>
                {% endfor %}
                <p class="mt-2 mb-3 text-center">or enter your login details</p>
            {% endif %}
        </div>

        {# Email next #}
        {% crispy form %}
        <hr class="my-5" />
        {#  New user sign up at the bottom - button link only, not the actual form #}
    {# FIXME: Add signup_closed to context for view #}
        <div class="text-center mb-1">
            <h1 class="h3 mb-3 font-weight-normal">Or, if you're new here...</h1>
            {% if signup_closed %}
                <p class="alert-info">
                    Sorry! We're closed for new user signups at the moment.
                </p>
            {% else %}
                <a class="btn btn-block btn-lg btn-info" href="{{ signup_url }}">Create an account</a>
            {% endif %}
            <p class="mt-5 mb-3 text-muted text-center">&copy; 2020 Lucid Horizons Pty Ltd</p>
        </div>
    </div>

    {% providers_media_js %}
{% endblock %}
