{% extends "base_splash.html" %}
{% load static account socialaccount crispy_forms_tags %}
{% load account %}


{% block head_title %}Reset your {{ site.name }} password{% endblock %}

{% block body_class %}class="splash"{% endblock body_class %}
{% block content %}
<div class="form-signin">
    <div class="text-center mb-4">
        <img class="mb-4" src="{% static 'img/logo-solid.svg' %}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Password reset</h1>
    {% if user.is_authenticated %}
        {% user_display user as user_display %}
        <p><strong>Note:</strong> you are already logged in as {{ user_display }}.</p>
    {% endif %}

        <p>
            Forgotten your password?
        </p>
        <p>
            Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.
        </p>
    </div>

    {% crispy form %}

    <p class="text-center mt-3 mb-3">
    {# FIXME: add support link to "contact us" #}
        Please contact us if you have any trouble resetting your password.
    </p>
</div>
{% endblock %}
