{% extends "base_splash.html" %}
{% load static account socialaccount crispy_forms_tags %}
{% load account %}


{% block head_title %}Password Reset Request for {{ site.name }}{% endblock %}

{% block body_class %}class="splash"{% endblock body_class %}
{% block content %}
    <div class="form-signin">
        <div class="text-center mb-4">
            <img class="mb-4" src="{% static 'img/logo-solid.svg' %}" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Password Reset Requested</h1>
            {% if user.is_authenticated %}
                {% user_display user as user_display %}
                <p><strong>Note:</strong> you are already logged in as {{ user_display }}.</p>
            {% endif %}

            <p class="text-center mt-3 mb-3">
                {# FIXME: add support link to "contact us" #}
                We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.
                {# FIXME: What should they do next? Close the window? Go back somewhere? Add a URL to click on #}
            </p>
        </div>
    </div>
{% endblock %}
