{% extends "base_splash.html" %}
{% load static account socialaccount crispy_forms_tags %}
{% load account %}


{% block head_title %}Change your {{ site.name }} password{% endblock %}

{% block body_class %}class="splash"{% endblock body_class %}
{% block content %}
    <div class="form-signin">
        <div class="text-center mb-4">
            <img class="mb-4" src="{% static 'img/logo-solid.svg' %}" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Set a new password</h1>
            {% if user.is_authenticated %}
                {% user_display user as user_display %}
                <p><strong>Note:</strong> you are already logged in as {{ user_display }}.</p>
            {% endif %}

        {% if token_fail %}
            <p class="alert-danger">Oops! This link is invalid or has expired</p>
            <p>You can try <a href="{% url 'account_login' %}">logging in again</a> or you can <a href="{% url 'account_reset_password' %}">request a new link</a>.</p>
        {% endif %}
        </div>

        {% if not token_fail %}
            {% if form %}
                <form method="POST" action="{{ action_url }}">
                    {% crispy form %}
                </form>
            {% else %}
                <p>Your password is now changed.</p>
            {% endif %}

            <p class="text-center mt-3 mb-3">
                {# FIXME: add support link to "contact us" #}
                Please contact us if you have any trouble resetting your password.
            </p>
        {% endif %}
    </div>
{% endblock %}
