{% extends "base_splash.html" %}
{% load static %}

{% block head_title %}Sign ups for {{ site.name }} currently closed{% endblock %}

{% block body_class %}class="splash"{% endblock body_class %}
{% block content %}
    <div class="form-signin">
        <div class="text-center mb-4">
            <img class="mb-4" src="{% static 'img/logo-solid.svg' %}" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Create An Account</h1>
            <p class="text-center text-muted">
                Already have an account? <a href="{{ login_url }}">Log in here.</a>
            </p>
        </div>
        <div class="text-center mb-4">
                <p class="alert-info">
                    Sorry! We're closed for new user signups at the moment.
                </p>
        </div>

        <div class="text-center mb-1">
            <p class="mt-5 mb-3 text-muted text-center">&copy; 2020 Lucid Horizons Pty Ltd</p>
        </div>
    </div>
{% endblock %}
