/*
 * django_project.css
 * Uses bootstrap, which is compiled separately.
 */
// Variables shared with bootstrap
@import '_variables.scss';

// These imports don't generate any css, just provide us with media breakpoints etc
@import "bootstrap/scss/_functions.scss";
@import "bootstrap/scss/_variables.scss";
@import "bootstrap/scss/_mixins.scss";

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: $main-navbar-height;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

@include media-breakpoint-down(xs) {
  .offcanvas-collapse {
    width: 100%;
  }
}

@include media-breakpoint-up(sm) {
  .offcanvas-collapse {
    &.open {
      max-width: 450px;
    }
    width: fit-content;
  }
}

@include media-breakpoint-up(lg) {
  .account-flat-menu {
    display: none;
  }
}

@include media-breakpoint-down(md) {
  .offcanvas-collapse {
    position: fixed;
    top: $main-navbar-height; /* Height of navbar */
    bottom: 0;
    left: 100%;
    background-color: $gray-500;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  #accountDropdownMenuItem {
    display: none;
  }

  .offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);

    .account-flat-menu {
      visibility: visible !important;
    }
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.text-white-50 {
  color: rgba(255, 255, 255, .5);
}

.bg-purple {
  background-color: #6f42c1;
}

.lh-100 {
  line-height: 1;
}

.lh-125 {
  line-height: 1.25;
}

.lh-150 {
  line-height: 1.5;
}


body.splash {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

main {
  width: 100%;
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;

  .form-group {
    position: relative;
    margin-bottom: 1rem;

    label.floating-label {
      position: absolute;
      top: 0;
      left: 1rem;
      display: block;
      width: 100%;
      margin-bottom: 0;
      line-height: 1.5;
      color: #495057;
      pointer-events: none;
      cursor: text;
      border: 1px solid transparent;
      border-radius: .25rem;
      transition: all .1s ease-in-out;
      text-align: left;
    }

    //input::-webkit-input-placeholder {
    //  color: transparent;
    //}
    //input::-moz-placeholder {
    //  color: transparent;
    //}
    //input::-ms-input-placeholder {
    //  color: transparent;
    //}
    //input:-ms-input-placeholder {
    //  color: transparent;
    //}
    //input::placeholder {
    //  color: transparent;
    //}

    input:not(:-moz-placeholder-shown) {
      padding-top: 0.25rem;
      padding-bottom: .25rem;
    }

    input:not(:-ms-input-placeholder) {
      padding-top: 0.25rem;
      padding-bottom: .25rem;
    }

    input:not(:placeholder-shown) {
      padding-top: 0.25rem;
      padding-bottom: .25rem;
    }

    input:placeholder-shown + label.floating-label {
      color: transparent;
    }

    input:not(:-ms-input-placeholder) + label.floating-label {
      padding-top: 0;
      padding-bottom: .25rem;
      font-size: 0.5rem;
      color: #777;
    }

    input:not(:placeholder-shown) + label.floating-label {
      padding-top: 0;
      padding-bottom: .25rem;
      font-size: 0.5rem;
      color: #777;
    }
  }

  .forgot-password {
    padding-top: 1.5rem;
    text-align: center;
  }
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;

    label.floating-label {
      position: static;
    }

    input::-ms-input-placeholder {
      color: #777;
    }
  }
}
